@model IEnumerable<YatriSewa.Models.User> 
@{
    ViewData["Title"] = "Registered Operators";
    Layout = "~/Views/Shared/_OperatorLayout.cshtml";
    // Set the title for the page
}

<h2>Registered Operators</h2>
